body {
  background-color: gray;
  padding: 40px;
}

/* div-outline*/

#outline {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 90vh;
}

/* div-outline-left */

#left {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-image: url(./Assets/doodle.jpg);
  width: 45vw;
  height: 90vh;
}

/* div-left-form */

form {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 43vw;
  height: 88vh;
}

/* div-form- */

.name,
.type,
.category,
.discription,
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 43vw;
  height: 8vh;
  padding: 5px;
  margin-top: 5px;
}

label {
  display: flex;
  justify-content: center;
  color: white;
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left p {
  color: red;
}

img {
  width: 50%;
  border-radius: 10px;
  border: 2px solid;
  display: inline-block;
  background-color: white;
}

#left img {
  opacity: 1;
  width: 40px;
}

#small_image {
  width: 43vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
}

.nl,
.cl,
.tl,
.dl,
.pl {
  display: flex;
  width: 17vw;

  height: 8vh;
  justify-content: center;
  align-items: center;
}
.nr,
.cr,
.tr,
.dr,
.pr {
  display: flex;
  width: 25vw;

  height: 8vh;
  justify-content: center;
  align-items: center;
}

.alert {
  margin-top: 10px;
}

#name,
#category,
#type,
#discription {
  width: 20vw;
  height: 5vh;
}

#submit {
  width: 30vw;
  height: 5vh;
}
#small_image svg {
  width: 7vw;
  height: 7vh;
}

.small_image svg {
  width: 15vw;
}

/* div-right */

#right {
  display: flex;
  flex-flow: wrap;
  border-radius: 10px;
  padding: 10px;
  background-image: url(./Assets/logo2.jpg);
  background-position: center;
  background-size: cover;
  overflow: auto;
  width: 45vw;
  height: 90vh;
}

/* dic-right-card container */

#card {
  width: 25vw;
  height: 40vh;
  margin: 5vh;
  display: flex;
  flex-flow: wrap;
  background-color: rgba(255, 255, 255, 0.2);
}

#card_body {
  display: flex;
  width: 25vw;
  height: 20vh;
}

#card_name {
  display: flex;
  width: 25vw;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid;
  align-items: center;
  color: white;
  font-size: 20px;

  padding: 5px;
}

#card_footer {
  display: flex;
  justify-content: space-around;

  width: 25vw;
}

#card_details {
  width: 14vw;
  height: 20vh;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

#cardContainer {
  display: flex;
  width: revert;
  justify-content: center;
  flex-flow: wrap;
  margin-top: 10px;
}

#cardContainer #btn {
  padding: 10px;
}

svg {
  width: 10vw;
  height: 11vh;
}

tbody {
  font-size: 11px;
  width: 10vw;
  height: 20vh;
}

td {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: blue;
}

table {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#api {
  display: flex;
}

#btn {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  height: 10%;
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
}

#remove_all {
  width: 100px;
}

/* common */

input[type="button"] {
  border-color: white;
  color: white;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
}

button {
  width: 10vw;
  height: 5vh;
  border-color: white;
  color: white;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

/* media query */

@media only screen and (max-width: 700px) {
  body {
    margin: 0px;
    padding: 0px;
  }

  #outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 140vw;
    height: 205vh;
  }
  #left {
    width: 95vw;
    height: 100vw;
    overflow: auto;
    padding-top: 15px;
  }

  #right {
    width: 95vw;
    height: 100vw;
    display: flex;
    flex-direction: row;
  }

  #form {
    display: flex;
    width: 85vw;
    height: 90vh;
    padding: 10px;
  }
  .name,
  .category,
  .type,
  .profile,
  .discription {
    width: 80vw;
    height: 10vh;
    margin-top: 10px;
  }
  .nl,
  .cl,
  .tl,
  .dl,
  .pl {
    display: flex;
    width: 75vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
  }
  .nr,
  .cr,
  .tr,
  .dr,
  .pr {
    display: flex;
    width: 75vw;

    height: 10vh;
    justify-content: center;
    align-items: center;
  }

  #small_image {
    width: 82vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
  }
  #name,
  #category,
  #type,
  #discription {
    width: 50vw;
    height: 5vh;
  }
  #btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 10%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 35px;
  }
  #cardContainer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #card,
  #card_name,
  #card_footer,
  #card_body {
    width: 30vw;
  }

  svg {
    width: 12vw;
  }

  #card_details {
    width: 16vw;
  }

  #card_footer {
    font-size: 11px;
  }
  #btn {
    justify-content: space-around;
  }
  #btn input {
    width: 20vw;
  }
}
